body{
    background: linear-gradient(#c79345,#9198e5);
    min-height: 600px;
}

h1{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

table{
    width: 40%;
    margin: auto;
    /*This is to be able to change position relative */
    position: relative;
    margin-top:30px;

}

tr td:nth-of-type(1){
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
}

tr td:nth-of-type(2){
    font-size:20px;
    text-align: left;
}

 
footer{
    /* This is because we dont have many content.And we wanted it to be fixed in */
    position: fixed;
    bottom: 0;
}

